<script src="./build/build.js"></script>


<textarea style="height:200px;" value="email"></textarea>
<button id="submit"></button>

<script>
  document.querySelector('#submit').addEventListener('click', function () {
    console.log(window.emailParser.default.removeQuotedTextFromEmail(document.querySelector('textarea').value));

    console.log(window.sentimentAnalyser.analyseSentiment(document.querySelector('textarea').value));
  });

  function getEmailAddressesWeOwn() {
    return ["jeremymnagel@gmail.com"];
  }

  function getEmailAddressesWeShouldIgnore() {
    return ["_REGEX_mail@(.)*"];
  }

  function shouldIgnoreMessageBecauseWeDoNotCareAboutSender(receivedMessage) {
    var addressesToIgnore = getEmailAddressesWeOwn().concat(getEmailAddressesWeShouldIgnore()),
            recipientMatchesOurList = false;
    addressesToIgnore.some(function(address) {
      if (address.indexOf("_REGEX_") > -1) {
        var regexMatcher = new RegExp(address.split("_REGEX_")[1]);
        if (regexMatcher.test(receivedMessage.getTo())) {
          recipientMatchesOurList = true;
          return true;
        }
      } else if (address.indexOf("_REGEX_") === -1) {
        if (receivedMessage.getTo().indexOf(address) > - 1) {
          recipientMatchesOurList = true;
          return true;
        }
      }
    });

    return recipientMatchesOurList;
  }
</script>